*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}
header img{
    height: 130px;
}
header{
  
    background-color: black;
}
article{
    height: 50px;
    width: 100%;
    background-color: rgb(107, 98, 98);
}
article p{ 
    color: red;
    font-size: 20px;
    float: right;
    padding: 10px;
}
main{
    height: auto;
    width: 100%;
    display: flex;
}

nav{
    width: 20%;
}
ul a{
    color: red;
}
ul li{ 
    color: red;
    list-style-type: disc;
    padding: 15px;

}
ul{
    margin-top: 50px;
    margin-left: 30px;
}
section{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url("zdjecie.jpg");

}
/* main img{
    height: 100%;
   
    
} */